body {
	background-color: #000;
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  
  header {
	text-align: center;
	margin-top: 20px;
  }
  
  .imagem-cabecalho {
	max-width: 400px;
	width: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
	border-radius: 10px;
  }
  
  .conteudo {
	padding: 20px;
	color: #f0f8ff;
	width: 90%;
	max-width: 1200px;
  }
  
  .container-central {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
  }
  
  .descricao {
	flex: 2;
	padding-right: 20px;
  }
  
  .descricao p {
	text-align: justify;
	font-size: 20px;
	margin-bottom: 15px;
  }
  
  .galeria-imagens {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: flex-start;
  }
  
  .imagem-galeria {
	width: 100%;
	max-width: 250px;
	border-radius: 10px;
  }
  
  